[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "~=1.20.0"
pandas = "*"
matplotlib = "*"
jupyter = "*"
pydot = "*"
scikit-learn = "*"
tensorflow = ">2"
keras = "*"
nbconvert = {extras = ["webpdf"], version = "*"}
jupyterlab = "*"
tqdm = "*"
tensorflow-probability = "*"
brokenaxes = "*"

[dev-packages]

[requires]
python_version = "3.9"
